body {
	background: url("../img/bg.png");
}

#wrapper {
	width: 80%;
	background: white;
	border-radius: 10px;
	margin: 20px auto;
	height: 550px;
	padding: 20px 50px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

#wrapper ul {
	list-style: none;
	margin-left: 20px;
}

#wrapper ul li {
	margin: 20px;
}

#wrapper ul input {
	width: 250px;
}

a {
	margin-bottom: 25px;
	width: 100px;
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 5px  20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}