* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-style: sans-serif;
}


a{
	text-decoration: none;
}

header {
	margin-top: 15px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-items: center;
	justify-content: space-around;
	align-items: center; 
}

.nav ul {
	list-style: none;

}

.nav ul li a{
	margin-left: 2em;
	font-size: 1.1em;
	color: #555;
}

.nav ul li a:first-child {
	margin-left: 0;
}

.nav ul li a:last-child {
	margin-left: 5em;
	text-transform: uppercase;
	color: #E53E35;
}


.info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}


.activity_type {
	margin: 0 auto;
	color: #fff;
	display: grid;
	align-content: center;
	justify-content: space-around;
	height: 100vh;
	width: 60%;
}

.activity_type .title {
	margin-bottom: 50px;
}

.activity_list label {
	font-size: 1.2em;
}

.activity_list label input {
	margin:0 10px;
}

.activity_list {
	list-style: none;
}

.hidden {
	display: none;
}

.close_dialog_btn {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: 1.2em;
	background: #E53E35;
	color: #fff;
	border: none;
	padding: 15px 20px;
	border-radius: 50%;
	text-transform: uppercase;
	transition: all .3s ease-out;
}

.close_dialog_btn:hover {
	background: #fff;
	color: #E53E35;
}


/* Table Styles*/

.div-table {
	width: 95%;
	margin: 0 auto;
}

.add_activity{
	margin-top: 100px;
	height: 100px
	width: 50px;
	background: green;
	color: white;
	border: 0.5px solid green;
	border-radius: 5px;
	padding: 10px;
	transition: all .2s ease-out;
}

.add_activity:hover {
	background: #fff;
	color: green;
	cursor: pointer;
	border: 0.5px solid green;
}

    table {
      margin-top: 30px;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }

/*Activity FORM */

.div-form {
	margin: 0 auto;
	width: 30%;
	padding: 30px;
}

.form-activity {
	padding: 50px;
	margin-top: 20px;
	list-style: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.form-activity input {
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid green;
	margin-bottom: 5px;
}

.form-activity input:focus {
	border: 2px solid #E53E35;
}

textarea {
	width: 245px;
	height: 100px;
	padding: 5px;
	border: 1px solid green;
}

textarea:focus {
	border: 2px solid #E53E35;
}

.audienta-list {
	margin-top: 10px;
}


select {
	margin: 10px 0px 20px 0px;
	width: 245px;
	border: 1px solid green;
	padding: 10px; 
}

select:focus {
	border: 2px solid #E53E35;
}

input[type=submit] {
	background: green;
	border-radius: 5px;
	color: #fff;
	width: 100px;
	margin-top: 20px;
	margin-left: 70%;
}

.modify {
	padding: 7px;
	font-size: 1em;
	margin-right: 15px;
	background: green;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	transition: all .2s ease-out;
}

.modify:hover {
	background: #fff;
	color: green;
}

.sort_by {
	margin-left: 30px;
	margin-top: 100px;
	height: 100px
	width: 50px;
	background: #E53E35;
	color: white;
	border: 0.5px solid #E53E35;
	border-radius: 5px;
	padding: 10px;
	transition: all .2s ease-out;	
}

.sort_by:hover {
	background: #fff;
	color: #E53E35;
	border: 0.5px solid #E53E35;
	cursor: pointer;
}

.div-table form {
	display: inline-block;
}